<nav class="bg-gray-800 p-4 fixed w-full z-10 top-0">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <h1 class="text-4xl font-bold">
                <a href="/" class="hover:text-gray-400">
                    Sound<span class="text-blue-500">Nata</span>
                </a>
            </h1>

            <div class="ml-6 relative">
                <form action="/search" method="get" class="flex items-center">
                    <input type="text" name="query" placeholder="Search..." class="bg-gray-400 text-black border-gray-300 rounded px-4 py-2 w-full">
                    <button type="submit" class="ml-2 bg-blue-500 text-white px-4 py-2 rounded">Search</button>
                </form>
            </div>
        </div>

        <div class="flex items-center space-x-4">
            <!-- Display login and register links if user is not logged in -->
            <a th:if="${#authentication == null}" th:href="@{/login}" class="hover:text-gray-400">Login</a>
            <a th:if="${#authentication == null}" th:href="@{/register}" class="hover:text-gray-400">Register</a>

            <!-- Display username and logout link if user is logged in -->
            <span th:if="${#authentication != null}" class="hover:text-gray-400">
        <a th:text="${#authentication.name}" th:href="@{/profile}"></a>
    </span>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button id="logoutButton" type="submit" class="hover:text-gray-400">Logout</button>
            </form>


        </div>
    </div>
</nav>
