<footer class="bg-gray-800 p-4 fixed bottom-0 w-full ">
    <div class="container mx-auto flex items-center justify-between">
        <!-- Song Info -->
        <div id="playbackInfo" class="flex items-center space-x-3 invisible">
            <img
                    id="playerImage"
                    src=""
                    alt="Song Image"
                    class="w-16 h-16 rounded-lg"
            />
            <div>
                <p id="playerTitle" class="font-bold text-white">No Song Playing</p>
                <p id="playerArtist" class="text-sm text-gray-400">Unknown Artist</p>
            </div>
            <!-- Add Button -->
            <button
                    id="likeButton"
                    class="text-xl text-gray-500 hover:text-blue-500"
            >🤍</button>
        </div>

        <!-- Playback Controls -->
        <div class="flex flex-col items-center space-y-2 w-1/2 ">
            <div class="flex items-center space-x-4">
                <button id="prevButton" class="nav-button prev">
                    <div class="nav-icon"></div>
                    <div class="nav-icon"></div>
                </button>
                <button id="playPauseButton" class="play-pause-button">
                    <div class="icon"></div>
                    <div class="icon pause"></div>
                </button>
                <button id="nextButton" class="nav-button next">
                    <div class="nav-icon"></div>
                    <div class="nav-icon"></div>
                </button>
                <button id="lyricButton" class="lyrics-button invisible">
                    <span class="lyrics-icon">🎵</span>
                    <span class="lyrics-text">Lyrics</span>
                </button>
            </div>
            <input
                    id="playerProgress"
                    type="range"
                    class="w-full"
                    min="0"
                    max="100"
                    value="0"
            />
        </div>

        <!-- Volume Control -->
        <div class="flex items-center space-x-2">
            <p class="text-white text-sm">Volume</p>
            <input
                    id="volumeControl"
                    type="range"
                    class="w-20 h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-blue-500"
                    min="0"
                    max="100"
                    value="100"
            />
        </div>
    </div>
    <audio id="audioPlayer" class="hidden"></audio>
</footer>
