<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundNata</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link th:href="@{/custom.css}" rel="stylesheet" />
    <link th:href="@{/images/iconsoundnata.png}" rel="icon" type="image/png" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class="fullscreen-background text-white">
<div th:replace="fragments/nav::nav"></div>
<div class="flex pt-20 pb-20 h-screen">
    <div th:replace="fragments/aside::aside"></div>
    <main id="mainSection" class="flex-1 rounded-lg p-8 space-y-8 overflow-y-auto">
        <section class="bg-gray-700 rounded-lg p-6">
            <h2 class="text-2xl font-bold mb-4">Music</h2>
            <div class="grid grid-cols-5 gap-4">
                <div th:each="song : ${songs}" class="bg-gray-800 p-4 rounded-lg">
                    <img
                            th:src="${song.imagePath}"
                            alt="Album Art"
                            class="w-64 h-48 rounded-lg"
                    />
                    <p th:text="${song.title}" class="text-center"></p>
                    <div class="flex justify-center mt-2 space-x-2">
                        <button
                                class="play-song play-pause-button"
                                th:data-id="${song.id}"
                                th:data-title="${song.title}"
                                th:data-artist="${song.artist}"
                                th:data-url="${song.filePath}"
                                th:data-image="${song.imagePath}"
                                th:data-lyrics="${song.lyrics}">
                            <div class="icon"></div>
                        </button>
                    </div>
                </div>
            </div>
        </section>



        <!-- Playlist Section -->
        <section class="bg-gray-700 rounded-lg p-6 mt-8">
            <h2 class="text-2xl font-bold mb-4">Playlists</h2>
            <div class="grid grid-cols-3 gap-6">
                <div th:each="playlist : ${playlists}" class="bg-gray-800 p-4 rounded-lg">
                    <img
                            src="/images/question_mark.jpg"
                            alt="Playlist Cover"
                            class="w-64 h-48 rounded-lg"
                    />
                    <h3 th:text="${playlist.name}" class="text-center text-white font-bold mt-2"></h3>
                    <a
                            th:href="@{/playlist/{id}(id=${playlist.id})}"
                            class="bg-transparent text-white hover:scale-105 transition-transform px-4 py-1 rounded-full border border-white">
                        View Playlist
                    </a>
                </div>
            </div>
        </section>
    </main>
    <!-- Lyrics Box -->
    <section id="lyricsSection" class="hidden flex-1 rounded-lg p-8 space-y-8 overflow-y-auto">
        <div class="bg-gray-700 rounded-lg p-6">
            <h2 class="text-2xl font-bold mb-4">Lyrics</h2>
            <div id="lyricsContent" class="text-gray-300 leading-relaxed space-y-2">
                <!-- Lirik akan ditambahkan secara dinamis di sini -->
            </div>
        </div>
    </section>
</div>
<div th:replace="fragments/playback::footer"></div>

<!-- JavaScript -->
<script th:src="@{/js/audioPlayer.js}"></script>
<script th:src="@{/js/removeLocalStorage.js}"></script>
</body>
</html>
