<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - SoundNata</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body class="bg-gray-700 text-white">
<div th:replace="fragments/nav_auth::nav"></div>

<div class="flex items-center justify-center min-h-screen px-4">
    <div class="flex w-full max-w-6xl items-center justify-between">
        <div class="w-1/3 bg-cover bg-center h-96 rounded-lg"
             style="background-image: url('/images/anakkelas.jpg');">
        </div>
        <div class="w-1/12"></div>
        <div class="w-1/2 bg-black shadow-md rounded-lg p-8">
            <h1 class="text-3xl font-bold mb-6 text-center bg-gradient-to-r from-blue-500 to-purple-600 text-transparent bg-clip-text">
                Welcome Back
            </h1>
        <form th:action="@{/login}" class="flex flex-col space-y-4" method="POST">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <div>
                <label for="username" class="block mb-2 text-sm font-medium">Username</label>
                <input
                        id="username"
                        name="username"
                        class="p-2 w-full rounded border border-gray-300 bg-white text-black focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Masukkan username kamu.."
                        required
                />
            </div>

            <div>
                <label for="password" class="block mb-2 text-sm font-medium"
                >Password</label
                >
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="p-2 w-full rounded border border-gray-300 bg-white text-black focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="Masukkan password kamu...."
                        required
                />
            </div>


            <div class="flex justify-center mt-8">
                <button
                        type="submit"
                        class="bg-gray-500 px-5 py-3 rounded-full text-2xl text-center"
                >
                    Login
                </button>
            </div>
        </form>
        <p class="text-center mt-4 text-white">
            Belum punya akun?
            <a th:href="@{/register}" class="text-white hover:text-blue-500">Daftar di sini</a>
        </p>
    </div>
</div>
</body>
</html>