<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundNata</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>

<body>
<div th:replace="fragments/nav_auth::nav"></div>

<div class="flex items-center justify-center min-h-screen bg-gray-800">
    <div class="bg-black shadow-md rounded-lg p-8 w-full max-w-md mx-auto">
        <h1 class="text-3xl font-bold mb-6 text-center text-white">Register Account</h1>
        <form th:action="@{/register}" th:object="${user}" class="flex flex-col space-y-4" method="POST">
            <div th:if="${error}" class="error-message" th:text="${error}"></div>

            <div>
                <label for="email" class="block mb-2 text-sm font-medium">Email</label>
                <input
                        th:field="*{email}"
                        type="email"
                        id="email"
                        name="email"
                        class="p-2 w-full rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 text-black"
                        placeholder="Enter Your Email"
                        required
                />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <div>
                <label for="username" class="block mb-2 text-sm font-medium"
                >Username</label
                >
                <input
                        th:field="*{username}"
                        type="text"
                        id="username"
                        name="username"
                        class="p-2 w-full rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 text-black"
                        placeholder="Enter Your Username"
                        required
                />
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

            </div>

            <div>
                <label for="name" class="block mb-2 text-sm font-medium"
                >Nama</label
                >
                <input
                        th:field="*{name}"
                        type="text"
                        id="name"
                        name="name"
                        class="p-2 w-full rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 text-black"
                        placeholder="Enter Your Name"
                        required
                />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            </div>

            <div>
                <label for="password" class="block mb-2 text-sm font-medium">Password</label>
                <input
                        th:field="*{password}"
                        type="password"
                        id="password"
                        name="password"
                        class="p-2 w-full rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 text-black"
                        placeholder="Enter Your Password"
                        required
                />
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>

            <div class="flex justify-center mt-8">
                <button
                        class="bg-gradient-to-r from-blue-500 to-purple-600 px-5 py-3 rounded-full text-2xl text-white"
                        type="submit"
                >
                    CREATE ACCOUNT
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
